.popup__title {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 37px 64px 0 36px;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  margin-bottom: 4px;
}

@media (max-width: 1023px) {
  .popup__title {
      padding: 29px 22px 4px;
      font-size: 18px;
  }
}

@media (max-width: 400px) {
  .popup__title {
      padding-top: 15px;
      margin-top: 6px;
      margin-bottom: 11px;
  }
}