.popup__container {
  position: relative;
  max-width: 430px;
  min-height: 330px;
  border-radius: 10px;
  background: #FFFFFF;
  z-index: 11;
}

@media (max-width: 1023px) {
  .popup__container {
      max-width: 282px;
      min-height: 322px;
  }
}