.card-item__like {
    margin: 0;
    padding-top: 5px;
    width: 22px;
    height: 19px;
    transition: 0.4s;
    transform: translate(0, 7px);
    cursor: pointer;
    background-image: url(../../../images/Vector.svg);
    background-color: #FFFFFF;
    border: none;
    background-repeat: no-repeat;
}

.card-item__like:hover {
    opacity: 0.5;
}