.form__input_type_title {
  padding-bottom: 10px;
  padding-bottom: 8px;
  margin: 44px 36px 0;
}

@media (max-width: 1023px) {
  .form__input_type_title {
    padding-bottom: 8px;
    margin: 57px 22px 0;
  }
}