.form__input_type_name {
  padding-bottom: 8px;
  margin: 49px 36px 0;
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

}

@media (max-width: 1023px) {
  .form__input_type_name {
    padding-bottom: 8px;
    margin: 71px 22px 0;
  }
}