.profile__name{
margin: 0;
font-family: 'Inter', 'Arial', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
/* or 114% */
color: #FFFFFF;
margin: 0;
padding: 0;
text-overflow: ellipsis; /*Свойство text-overflow добавляет троеточие в конец обрезанного текста в знак того, что текст не помещался в блок и был обрезан. */
white-space: nowrap; /* Здесь переводы строки проигнорированы, а подряд идущие пробелы, если присмотреться – сжаты в один (например, перед комментарием // ) */
overflow: hidden;
max-height: 39px;
}