.popup__cards-close-button {
  position: absolute;
  padding: 0;
  top: -39px;
  right: -39px;
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: opacity 0.4s;
  background: rgba(0, 0, 0, 0);
  background-size: cover;
  border: none;
  background-image: url(../../../images/CloseIcon.svg);
}

.popup__cards-close-button:hover {
  opacity: 0.6;
}

@media (max-width: 1023px) {
  .popup__cards-close-button {
    top: -35px;
    right: 0;
    height: 20px;
    width: 20px;

  }
}