.popup__close-button {
  position: absolute;
  right: -39px;
  padding: 0;
  top: -39px;
  height: 32px;
  background: rgba(0, 0, 0, 0);
  background-image: url(../../../images/CloseIcon.svg);
  width: 32px;
  transition: opacity 0.3s;
  cursor: pointer;
  background-size: cover;
  border: none;
}

.popup__close-button:hover {
  opacity: 0.6;
}

/* @media (max-width: 1023px) {
  .popup__close-button {
    background-image: url(../../../images/CloseIcon1280.svg);
    top: -35px;
    right: 0;
    height: 20px;
    width: 20px;
  }
} */