.profile__add-button{
  background-image: url(../../../images/plusVector.svg);
  display: flex;
  align-self: center;
  box-sizing: border-box;
  background-color: #000000;
  height: 50px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  border: 2px solid #FFFFFF;
  margin: 0 0 0 auto;
  border-radius: 2px;
}
.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .profile__add-button{
    width: 282px;
    margin: 31px auto 0 auto;
    height: 50px;
    background-image: url(../../../images/miniplus.svg);
  }
}
