.card__item-description{
  margin: 0;
  padding: 0;
  height: 79px;
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}