.card__item-like-button_active{
  background-image: url(../../../../images/BLACKLOVE.svg);
  width: 22px;
  height: 30px;
  background-position: center;
  border: none;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 20px;
}