.profile__workplace{
font-family: 'Inter', 'Arial', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin: 0;
color: #FFFFFF;
grid-column: -3 / -1;
margin: 0;
padding: 0;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
max-height: 18px;

}

@media screen and (max-width: 1023px) {
  .profile__workplace{
    align-items: center;
    line-height: 17px;
  }

@media screen and (max-width: 695px) {
  .profile__workplace{
    font-size: 14px;
  }
}