.form__input_type_name {
  padding-bottom: 8px;
  margin: 44px 36px 0;
  margin-bottom: 6px;

}

@media (max-width: 1023px) {
  .form__input_type_name {
    padding-bottom: 8px;
    margin: 71px 22px 0;
  }
}